<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Sales_Tab.Leads_Tab_tests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>b_Click_Leads_Tab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>g_flashBackTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>h_reset_test</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>p_SearchByContactNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>i_DownloadCSV</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>c_GeneralSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>s_SearchByLeadStatus_All</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>t_SearchByLeadStatus_Open</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>o_SearchByAccountName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>a_View_Leads_Tab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>e_Search_by_privateReport</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>l_emailReport</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>f_search_By_Primary_report</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>m_Send_Subscription_Email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ca_Filter_report</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>d__Save_Report</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>q_SearchBySalesPerson</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>u_SearchByLeadStatus_Partial</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>j_DownloadHTML</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>r_SearchByAccountType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>k_DownloadPDF</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>n_SearchByAccountNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Start</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stop</td>
<td>&nbsp;</td></tr>
</table>
