<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Leads_Tab_tests.Start()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">&gt;&gt;Start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.a_View_Leads_Tab()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">a_View_Leads_Tab</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.b_Click_Leads_Tab()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">b_Click_Leads_Tab</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.c_GeneralSearch()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">c_GeneralSearch</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.ca_Filter_report()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">ca_Filter_report</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.d__Save_Report()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">d__Save_Report</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.e_Search_by_privateReport()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">e_Search_by_privateReport</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.f_search_By_Primary_report()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">f_search_By_Primary_report</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.g_flashBackTest()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">g_flashBackTest</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.h_reset_test()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">h_reset_test</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.i_DownloadCSV()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">i_DownloadCSV</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.j_DownloadHTML()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">j_DownloadHTML</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.k_DownloadPDF()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">k_DownloadPDF</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.l_emailReport()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">l_emailReport</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.m_Send_Subscription_Email()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">m_Send_Subscription_Email</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.n_SearchByAccountNumber()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">n_SearchByAccountNumber</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.o_SearchByAccountName()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">o_SearchByAccountName</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.p_SearchByContactNumber()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">p_SearchByContactNumber</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.q_SearchBySalesPerson()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">q_SearchBySalesPerson</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.r_SearchByAccountType()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">r_SearchByAccountType</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.s_SearchByLeadStatus_All()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">s_SearchByLeadStatus_All</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6165</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Leads_Tab_tests.stop()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.t_SearchByLeadStatus_Open()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">t_SearchByLeadStatus_Open</td> 
  <td>main@938545229</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/29 14:17:39</td>   <td>6165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Leads_Tab_tests.u_SearchByLeadStatus_Partial()[pri:0, instance:Sales_Tab.Leads_Tab_tests@6f4a47c7]">u_SearchByLeadStatus_Partial</td> 
  <td>main@938545229</td>   <td></td> </tr>
</table>
